{{#if message}}
<section class="notifications" style="display: block;">
    <p class="notification-message">{{message}}</p>
</section>
{{else}}
<section class="notifications" style="display: none;">
    <p class="notification-message">{{message}}</p>
</section>
{{/if}}